.diaryEntryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $teal;
    border-radius: 45px;
    padding: 3rem 1.5rem;

    label {
        font-family: $titleFont;
        font-size: 3.5rem;
        color: $red;
        text-shadow: -1px 1px rgb(244, 176, 176);
        padding: 1rem;
    }
    
    .dateInput,
    .titleInput,
    .textInput,
    .giphyInput {
        width: 50%;
        text-align: center;
        border: 3px solid $teal;
        border-radius: 45px;
        padding: 1rem;
    }
}

::placeholder{
    color: $red;
}

.buttons {
    display: flex;
}

button {
    margin: 3rem 1rem 0;
    padding: 1rem 1.5rem;
}
