// TABLET MEDIA QUERY
.wrapper {
    @include tablet {
        width: 100%;
    }
}

.headingInfoContainer {
    @include tablet {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}

.headerContainer {
    @include tablet {
        margin: 15rem 0;
    }
}

.diaryEntryFormContainer {
    @include tablet {
        width: 80%;
        margin-bottom: 3rem;
    }
    .dateInput,
    .titleInput,
    .textInput,
    .giphyInput {
        width: 80%;
        text-align: center;
        border: 3px solid $teal;
        border-radius: 45px;
        padding: 1rem;
    }
}

.digitalDiary {
    @include tablet {
    .gifHolder {
        width: 250px;
        height: auto;
    }
}
}

// PHONE MEDIA  QUERY

.headerContainer {
    @include phone {
        margin: 5rem 0;

        h1{
            font-size: 3.5rem;
        }
        .flowerSpinner {
            height: 100px;
            width: 100px;
        }
    }
}

.diaryEntry {
    @include phone {
        h2 {
            font-size: 2.5rem;
        }
    }
}




