@import 'setup';
@import 'partials';
@import 'heading';
@import 'form';
@import 'diaryLog';
@import 'footer';
@import 'mixins';
@import 'mediaQueries';


// GENERAL STYLES
html {
    font-size: 62.5%;
    font-family: $mainFont;
}

* {
    background-color: rgb(245, 206, 213);
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

button {
    padding: 1rem 1.5rem;
    border: 3px solid $teal;
    border-radius: 45px;
    background-color: $teal;
    font-family: $titleFont;
    color: white;
    font-size: 2.5rem;
}
button:hover,
button:focus {
    background-color: $red;
    border: 3px solid $red;
}
